.btn {
  height: 39px;
  width: 115px;
  border-radius: 100px;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 13px 4px 13px 17px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms ease-in;

  img {
    width: 32px;
    height: 32px;
    transition: all 200ms ease-in;

    @include mq(tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    cursor: pointer;

    svg circle {
      fill: #999999;
    }
  }

  @include mq(tablet) {
    height: 56px;
    width: 146px;
    padding: 8px 9px 8px 21px;
  }
}

.btn-active {
  top: 322px;
}
