.quote-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  &-inactive {
    display: none;
  }
}

.quote-refresh {
  background: none;
  border: none;
}

.quote-text {
  margin-bottom: 0.5rem;
}
