
.welcome-message {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.weather-icon {
  margin-right: 16px;
}

.message-extra {
  display: none;
}

.current-time {
  margin-bottom: 16px;
}

.timezone {
  font-size: 15px;
  font-weight: var(--fw-light);
  letter-spacing: 1px;
  margin-left: 13px;

  @include mq(tablet) {
    font-size: 32px;
  }

  @include mq(desktop) {
    font-size: 40px;
  }
}

