.time-container {
  margin-top: 355px;
  margin-left: 26px;
  transition: all 200ms ease-in;

  @include mq(tablet) {
    margin-top: 593px;
    margin-left: 64px;
  }

  @include mq(desktop) {
    margin-top: 414px;
    margin-left: 165px;
  }
}

.time-container-active {
  margin-top: 99px;

  @include mq(tablet) {
    margin-top: 153px;
  }

  @include mq(desktop) {
    margin-top: 56px;
  }

}

.welcome-message {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.weather-icon {
  margin-right: 16px;
}

.message-extra {
  display: none;
}

.current-time {
  margin-bottom: 16px;
}

.timezone {
  font-size: 15px;
  font-weight: var(--fw-light);
  letter-spacing: 1px;
  margin-left: 13px;

  @include mq(tablet) {
    font-size: 32px;
  }

  @include mq(desktop) {
    font-size: 40px;
  }
}

