h1 {
  font-size: 100px;
  letter-spacing: -2.5px;
  font-weight: var(--fw-bold);
  line-height: 1;

  @include mq(tablet) {
    font-size: 175px;
  }

  @include mq(desktop) {
    font-size: 200px;
    letter-spacing: -5px;
  }
}

h2 {
  font-size: 56px;
  font-weight: var(--fw-bold);
  line-height: 68px;
}

h3 {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: var(--fw-bold);
  line-height: 28px;
  text-transform: uppercase;

  @include mq(tablet) {
    font-size: 18px;
  }

  @include mq(desktop) {
    font-size: 24px;
    letter-spacing: 4.8px;
  }
}

h4 {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: var(--fw-reg);
  line-height: 28px;
  text-transform: uppercase;

  @include mq(tablet) {
    font-size: 18px;
  }

  @include mq(desktop) {
    font-size: 20px;
    letter-spacing: 4px;
  }
}

h5 {
  font-size: 12px;
  font-weight: var(--fw-bold);
  line-height: 28px;

  @include mq(desktop) {
    font-size: 18px;
  }
}

h6 {
  font-size: 12px;
  font-weight: var(--fw-reg);
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;

  @include mq(tablet) {
    font-size: 16px;
  }
   
}

body {
  font-size: 12px;
  font-weight: var(--fw-reg);
  line-height: 28px;


  @include mq(tablet) {
    font-size: 18px;
  }
}
