@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-red: #F94F4F;
  --clr--black-accent: #191921;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-red-hover: #f94f4fb4;
  --clr-black-hover: #191921bb;
  --fw-reg: 400;
  --fw-bold: 800;
  --transition: all 200ms ease-in;
}

body {
  font-family: "Commissioner", sans-serif;
  color: var(--clr-black);
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  width: 87%;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: var(--fw-bold);
  line-height: 1;
}
@media (min-width: 750px) {
  h1 {
    font-size: 56px;
  }
}
@media (min-width: 1100px) {
  h1 {
    font-size: 80px;
    line-height: 1.1;
  }
}

h2 {
  font-size: 32px;
  font-weight: var(--fw-bold);
  line-height: 1.25;
}
@media (min-width: 1100px) {
  h2 {
    font-size: 56px;
    line-height: 64px;
  }
}

h3 {
  font-size: 15px;
  font-weight: var(--fw-bold);
  line-height: 25px;
}
@media (min-width: 1100px) {
  h3 {
    font-size: 20px;
    line-height: 32px;
  }
}

p {
  font-size: 15px;
  line-height: 25px;
  font-weight: var(--fw-reg);
}
@media (min-width: 1100px) {
  p {
    font-size: 18px;
    line-height: 32px;
  }
}

.btn {
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  font-family: "Commissioner", sans-serif;
  font-size: 18px;
  font-weight: var(--fw-bold);
  padding: 1.3em 1.9em;
  transition: var(--transition);
}

.btn-primary {
  color: var(--clr-white);
  background: var(--clr-red);
}
.btn-primary:hover {
  background: var(--clr-red-hover);
}

.btn-secondary {
  color: var(--clr-white);
  background: var(--clr-black-accent);
}
.btn-secondary:hover {
  background: var(--clr-black-hover);
}

.btn-tertiary {
  font-weight: var(--fw-bold);
  color: var(--clr-red);
  background: none;
  border-bottom: 2px solid var(--clr-red);
  padding: 0 0 8px 0;
}
.btn-tertiary:hover {
  color: var(--clr-red-hover);
  border-bottom: 2px solid var(--clr-red-hover);
}

.header {
  padding: 40px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (min-width: 750px) {
  .header {
    padding: 74px 40px;
  }
}
@media (min-width: 1100px) {
  .header {
    padding: 76px 165px;
  }
}
.header .navbar {
  display: none;
  position: absolute;
  top: 100%;
  right: 26px;
  background: var(--clr--black-accent);
  width: 252px;
  text-align: center;
  padding: 32px 0;
  z-index: 300;
}
.header .navbar.active {
  display: block;
}
@media (min-width: 750px) {
  .header .navbar.active {
    display: flex;
  }
}
@media (min-width: 750px) {
  .header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    background: var(--clr-red);
    padding: 0 40px;
    width: auto;
    text-align: left;
  }
}
@media (min-width: 860px) {
  .header .navbar {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .header .navbar {
    justify-content: flex-start;
    padding: 73px 69px;
  }
}
.header ul {
  list-style: none;
}
@media (min-width: 750px) {
  .header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header ul li {
  margin-bottom: 24px;
}
.header ul li:hover a {
  font-weight: var(--fw-bold);
}
@media (min-width: 750px) {
  .header ul li {
    margin-bottom: 0;
    margin-left: 20px;
  }
}
@media (min-width: 1100px) {
  .header ul li {
    margin-left: 32px;
  }
}
.header ul li a {
  color: var(--clr-white);
  font-size: 18px;
  font-weight: var(--fw-reg);
  text-decoration: none;
  transition: var(--transition);
}
@media (min-width: 750px) {
  .header ul li a {
    font-size: 15px;
  }
}
@media (min-width: 1100px) {
  .header ul li a {
    font-size: 16px;
  }
}
.header ul .nav-btn {
  margin: 0 auto;
  cursor: pointer;
}
@media (min-width: 750px) {
  .header ul .nav-btn {
    font-size: 16px;
    color: var(--clr-white);
    background: var(--clr-black);
    margin-left: 28px;
  }
}
@media (min-width: 750px) {
  .header ul .nav-btn:hover {
    background: var(--clr-black-hover);
  }
}
.header .close {
  display: none;
}
@media (min-width: 750px) {
  .header .close,
.header .hamburger {
    display: none !important;
  }
}

.hero {
  position: relative;
}
.hero .hero-img {
  background-image: url("../assets/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
}
@media (min-width: 750px) {
  .hero .hero-img {
    background-image: url("../assets/tablet/image-hero.jpg");
    background-size: initial;
    background-position: right;
    height: 600px;
  }
}
@media (min-width: 1100px) {
  .hero .hero-img {
    background-image: url("../assets/desktop/image-hero.jpg");
    height: 800px;
  }
}
.hero .hero-details {
  margin-top: 56px;
}
@media (min-width: 750px) {
  .hero .hero-details {
    position: absolute;
    top: 77px;
    left: 39px;
    width: 50%;
    margin-top: 0;
  }
}
@media (min-width: 1100px) {
  .hero .hero-details {
    top: 120px;
    left: 165px;
  }
}
.hero .hero-details p {
  margin-top: 15px;
  max-width: 540px;
}
@media (min-width: 1100px) {
  .hero .hero-details p {
    margin-top: 39px;
  }
}
.hero .hero-details .btn {
  margin-top: 40px;
}
@media (min-width: 1100px) {
  .hero .hero-details .btn {
    margin-top: 48px;
  }
}

@media (min-width: 750px) {
  .design {
    height: 658px;
    display: flex;
  }
}
@media (min-width: 1100px) {
  .design {
    height: 984px;
  }
}
.design .design-img {
  background-image: url("../assets/mobile/image-strategic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-top: 96px;
}
@media (min-width: 750px) {
  .design .design-img {
    background-image: url("../assets/tablet/image-strategic.jpg");
    margin-top: 0;
    height: 100%;
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .design .design-img {
    background-image: url("../assets/desktop/image-strategic.jpg");
  }
}
.design .design-details {
  background: var(--clr--black-accent);
  padding: 72px 24px;
  color: var(--clr-white);
  position: relative;
}
@media (min-width: 750px) {
  .design .design-details {
    width: 50%;
    padding: 120px 40px 120px 69px;
  }
}
@media (min-width: 750px) {
  .design .design-details {
    padding: 200px 106px 200px 154px;
  }
}
.design .design-details .red-wave {
  width: 63px;
  height: 29px;
  left: 24px;
  top: -15px;
  position: absolute;
}
@media (min-width: 750px) {
  .design .design-details .red-wave {
    top: 145px;
    left: 0;
    transform: translateX(-50%);
  }
}
@media (min-width: 1100px) {
  .design .design-details .red-wave {
    top: 234px;
    width: 135px;
    height: 61px;
  }
}
.design .design-details h2 span {
  color: var(--clr-red);
}
.design .design-details p {
  margin-top: 24px;
}
@media (min-width: 1100px) {
  .design .design-details p {
    margin-top: 43px;
  }
}
.design .design-details .btn {
  font-size: 15px;
  margin-top: 40px;
}
@media (min-width: 1100px) {
  .design .design-details .btn {
    font-size: 18px;
    margin-top: 48px;
  }
}

.brand {
  background: var(--clr-red);
  color: var(--clr-white);
  padding: 96px 24px;
}
@media (min-width: 750px) {
  .brand {
    width: 57%;
    margin-left: 43%;
    margin-top: -120px;
    position: relative;
    z-index: 100;
    padding: 150px 40px;
  }
}
@media (min-width: 1100px) {
  .brand {
    width: 62%;
    margin-left: 38%;
    margin-top: -210px;
    padding: 244px 106px 244px 344px;
  }
}
.brand h2 {
  margin-bottom: 93px;
}
@media (min-width: 750px) {
  .brand h2 {
    color: var(--clr-black);
    position: absolute;
    top: 27%;
    left: -70%;
    max-width: 280px;
  }
}
@media (min-width: 1100px) {
  .brand h2 {
    top: 400px;
    left: -380px;
    max-width: 540px;
  }
}
.brand .brand-box {
  position: relative;
}
.brand .brand-box + .brand-box {
  margin-top: 84px;
}
.brand .brand-box .brand-number {
  font-size: 80px;
  font-weight: var(--fw-bold);
  opacity: 0.25;
  position: absolute;
  top: -13px;
}
@media (min-width: 1100px) {
  .brand .brand-box .brand-number {
    font-size: 88px;
    left: -50px;
  }
}
.brand .brand-box h3 {
  margin-bottom: 15px;
}
.brand .brand-box h3,
.brand .brand-box .brand-details {
  margin-left: 16px;
}

@media (min-width: 750px) {
  .slider-gallery {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    position: relative;
  }
}
.slider-gallery .white-wave {
  display: none;
}
@media (min-width: 750px) {
  .slider-gallery .white-wave {
    display: block;
    width: 62px;
    height: 28px;
    position: absolute;
    top: 126px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }
}
@media (min-width: 1100px) {
  .slider-gallery .white-wave {
    width: 134px;
    height: 60px;
    top: 186px;
  }
}
.slider-gallery .slider-track {
  list-style: none;
  position: relative;
  height: 404px;
  width: 100%;
}
@media (min-width: 750px) {
  .slider-gallery .slider-track {
    height: 472px;
    width: 57%;
  }
}
@media (min-width: 1100px) {
  .slider-gallery .slider-track {
    width: 62%;
    height: 728px;
  }
}
.slider-gallery .slider-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 35px 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: var(--transition);
}
@media (min-width: 1100px) {
  .slider-gallery .slider-img {
    padding: 68px 154px;
  }
}
.slider-gallery .slider-img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66)), url("../assets/mobile/image-slide-1.jpg");
}
@media (min-width: 750px) {
  .slider-gallery .slider-img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66)), url("../assets/desktop/image-slide-1.jpg");
    background-position: 100% 50%;
  }
}
.slider-gallery .slider-img-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66)), url("../assets/mobile/image-slide-2.jpg");
}
@media (min-width: 750px) {
  .slider-gallery .slider-img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66)), url("../assets/desktop/image-slide-2.jpg");
  }
}
.slider-gallery .slider-img-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66)), url("../assets/mobile/image-slide-3.jpg");
}
@media (min-width: 750px) {
  .slider-gallery .slider-img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66)), url("../assets/desktop/image-slide-3.jpg");
  }
}
.slider-gallery .current-slide {
  opacity: 1;
}
.slider-gallery .slider-info {
  text-align: right;
  color: var(--clr-white);
}
.slider-gallery .slider-info p {
  margin-top: -3px;
}
.slider-gallery .slider-control {
  background: var(--clr--black-accent);
  color: var(--clr-white);
  padding: 64px 24px;
  height: 100%;
}
@media (min-width: 750px) {
  .slider-gallery .slider-control {
    position: absolute;
    top: 0;
    left: 0;
    height: 352px;
    width: 50%;
    z-index: 100;
    padding: 100px 39px;
  }
}
@media (min-width: 1100px) {
  .slider-gallery .slider-control {
    height: 528px;
    padding: 152px 125px 152px 165px;
  }
}
.slider-gallery .slider-control .slider-headings {
  position: relative;
  list-style: none;
}
.slider-gallery .slider-control .slider-headings .slider-heading {
  margin-bottom: 24px;
  display: none;
  transition: var(--transition);
}
@media (min-width: 750px) {
  .slider-gallery .slider-control .slider-headings .slider-heading {
    margin-bottom: 32px;
  }
}
@media (min-width: 1100px) {
  .slider-gallery .slider-control .slider-headings .slider-heading {
    margin-bottom: 51px;
  }
}
.slider-gallery .slider-control .slider-headings .slider-heading.current-heading {
  display: block;
}
.slider-gallery .slider-control button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin-right: 16px;
}
.slider-gallery .slider-control button:hover svg g {
  stroke: #ff9393;
}

.call-to-action {
  padding: 100px 24px;
  position: relative;
}
@media (min-width: 750px) {
  .call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 40px 100px;
  }
}
@media (min-width: 1100px) {
  .call-to-action {
    padding: 120px 165px 115px;
  }
}
.call-to-action .red-wave-footer {
  display: none;
}
@media (min-width: 1100px) {
  .call-to-action .red-wave-footer {
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateX(-50%);
  }
}
.call-to-action h2 {
  margin-bottom: 47px;
}
@media (min-width: 750px) {
  .call-to-action h2 {
    margin-bottom: 0;
    width: 50%;
  }
}
.call-to-action a {
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */